/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdb9a4;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #9e903d;
    width:fit-content;

}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.featured-products {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgb(219, 214, 205);
}


.product-item1 {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgb(218, 185, 135);
    width: 5cm;
    height: 5cm;


}
.product-item2 {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgb(228, 14, 181);
    width: 5cm;
    height: 5cm;


}
.product-item3 {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgba(46, 13, 236, 0.904);
    width: 5cm;
    height: 5cm;


}
.product-item4 {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: aqua;
    width: 5cm;
    height: 5cm;


}
.our-story, .testimonials {
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}


 */
